.container {
    display: grid;
    grid-template-columns: repeat(40, 2%);
    grid-template-rows: repeat(40, 2%);
    background-color: black;
    margin:5px 5px;
    padding:5px 15px;
    gap:5px;
    
  }
  .square {
    background-color: rgba(81, 78, 78, 0.252);
    border: 1px solid rgba(13, 13, 13, 0.252);
    width:10x;
    height:12px;
    margin:5px 4px;
    font-size: 30px;
    text-align: center;
  }
  .square:hover {
    background-color: rgb(138, 74, 74);
  }

  /* .square{ 
        animation: 1.2s bgrandom infinite; 
    }
  @keyframes bgrandom {
    0% { background: linear-gradient(90deg, rgba(255,255,255,0.98) 50%, rgba(112, 76, 76, 0.96) 0%); }
    50% { background: linear-gradient(90deg, rgba(255,255,255,0.98) 50%, rgba(70, 88, 98, 0.96) 0%); }

    55% { background: linear-gradient(90deg,  rgba(255,255,255,0.96) 50%, rgba(126, 90, 121, 0.98) 0%); }
    80% { background: linear-gradient(90deg, rgba(255,255,255,0.96)  50%, rgba(86, 151, 107, 0.98) 0%); }

    85% { background: linear-gradient(90deg, rgba(255,255,255,0.96) 50%, rgba(174, 117, 161, 0.94) 0%); }
    100% { background: linear-gradient(90deg, rgba(255,255,255,0.96) 50%, rgba(196, 202, 134, 0.94) 0%); }
    } */